@font-face {
	font-family: 'Source Sans Pro Regular';
	src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
	font-family: 'Source Sans Pro Black';
	src: url('../assets/fonts/SourceSansPro-Semibold.ttf');
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro Regular';
	color: #535353;
}
.menu {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #FAFAFA;
	width: calc(25% - 40px);
	height: 100vh;
	box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.65);
	padding-left: 20px;
	padding-right: 20px;
}
	.menu a {
		text-decoration: none;
		color: #535353;
	}
	.menu a[href="#menu"], .menu a[href="#menuclose"] {
		position: fixed;
		top: 20px;
		right: 30px;
		text-decoration: none;
		color: #535353;
		visibility: visible;
	}
	.menu a[href="#menuclose"] {
		visibility: hidden;
	}
	.menu a:hover {
		color: #848484;
	}
	.left {
		left: 0;
	}
	.left a[href="#menu"]{
		left: 30px;
	}
	.left a[href="#menuclose"]{
		left: unset;
		right: 30px;
	}
	.menu .nav {
		list-style-type: none;
		padding-left: 0;
	}
	.menu .nav li {
		border-bottom: #B4B3B3 1px solid;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 10px;
	}
	.menu .nav li:last-child {
		border-bottom: none;
	}
	.menu .nav li:hover {
		color: #848484;
	}
header {
	margin-top: 0;
	width: 100%;
	height: 20vh;
}
	header .title {
		margin-left: 20%;
	}
	header .title h1 {
		font-size: 3em;
		font-family: 'Source Sans Pro Black';
	}
	header .title img {
		width: 3em;
		float: left;
		margin-right: 10px;
	}
.content {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}
button {
	font-family: 'Source Sans Pro Regular';
	font-weight: 800;
	font-size: 1em;
	color: #535353;
	background: none;
	min-width: 200px;
	padding: 10px;
	border: #535353 2px solid;
	border-radius: 3px;
	margin-bottom: 5px;
}
button:hover {
	border-color: #B4B3B3;
	color: #B4B3B3;
}